[2017-03-27 04:40] rowdymehul opened #1 "[l10n-web] [mozilla.org]: firefox/all.lang"
Hey Localizers,

Hope you all are doing good.

Happy to invite all new localizers in the community to start with this project.

The deadline is indicative.

Link to contribute : https://pontoon.mozilla.org/gu-IN/mozillaorg/firefox/all.lang/?string=164160

Feel free to let us know if you need any help/questions.

Thank you,
Mehul Patel.
**On Behalf of [Mozilla Gujarat](http://blog.mozillagujarat.or

[2017-03-27 04:53] rowdymehul commented on #1
Just up update, progress reached to 61%. Cheers. Thanks @drashti4 for help.

[2017-03-27 05:01] rowdymehul opened #2 "[l10n-gu] firefox & firefox-for-android"
Hey Localizers,

Hope you all are doing good.

https://pontoon.mozilla.org/gu-IN/firefox/
https://pontoon.mozilla.org/gu-IN/firefox-for-android/

Happy to invite all new localizers in the community to start with this project.

Feel free to let us know if you need any help/questions.

P.S. Any suggestions or feedback's are always welcome. 💯

Thank you,
Mehul Patel.
**On Behalf of [Mozilla Gujarat](

[2017-03-30 16:34] haard10 commented on #2
https://pontoon.mozilla.org/gu-IN/firefox-for-android-aurora/mobile/android/base/android_strings.dtd/?string=142065

I have translated some strings & also review my old strings @rowdymehul

[2017-03-30 17:43] rowdymehul commented on #2
Hey @haard10 , Thanks for your translation, I have reviewed your some strings and updated some strings which sounds not formatted. Please note that changes for future translation. Rest will be reviewed soon, meantime just keep continuing your translation.

Feel free to ask if you have any questions or need any help. :)

Cheers!

[2017-03-30 17:46] rowdymehul commented on #2
Current progress : 63%, way to go reach 100% 💯  Cheers!!!

[2017-03-30 17:48] rowdymehul commented on #1
Reviewed some strings, current progress reached to 88%. Cheers!!! 👍  Great work team.

[2017-04-01 06:33] drashti4 commented on #1
and It's completed  :)

[2017-04-02 17:03] rowdymehul commented on #1
Thanks @drashti4 . I have reviewed all the strings and corrected some strings. Please note that,  don't translate brand names (Firefox, Mozilla). I have seen that in many strings, for now I have corrected.

I will mark this project as complete. Thanks everyone. 💯

[2017-04-04 20:26] rowdymehul opened #3 "[l10n-gu] Firefox Screenshots"
Hey Localizers,

Hope you all are doing good.

https://pontoon.mozilla.org/gu-IN/firefox-screenshots/

Happy to invite all new localizers in the community to start with this project.

Feel free to let us know if you need any help/questions.

P.S. Any suggestions or feedback's are always welcome. 💯

Thank you,
Mehul Patel.
**On Behalf of [Mozilla Gujarat](http://blog.mozillagujarat.org/).**

[2017-04-04 20:27] #1 closed

[2017-04-15 04:02] rowdymehul commented on #3
Hey All,

New deadline updated to  Apr 18, 2017.

[2017-04-15 11:11] drashti4 commented on #3
marked :100:

[2017-05-11 03:40] rowdymehul commented on #3
Great job!

[2017-05-11 03:40] #3 closed

[2017-07-04 20:26] rowdymehul opened #4 "[l10n-gu] Firefox Beta"
Hey Localizers,

Hope you all are doing good.

    Project: Firefox Beta
    Deadline:  Jul 25, 2017
https://pontoon.mozilla.org/gu-IN/firefox-beta/

Happy to invite all new localizers in the community to start with this project.

Feel free to let us know if you need any help/questions.

P.S. Any suggestions or feedback's are always welcome. :100:

Thank you,
Mehul Patel.
On Behalf of Mozilla Guja

[2017-07-04 20:27] rowdymehul commented on #2
Updated Deadline :  Aug 07, 2017

[2017-07-06 13:03] #4 closed

[2017-08-27 20:40] rowdymehul commented on #2
Updated Deadline :  Sep 20, 2017

[2017-08-29 02:56] KotechaVishwa commented on #2
Suggested some strings of Firefox. @drashti / @rowdymehul please verify.

[2017-08-29 15:04] rowdymehul commented on #2
Hey, @KotechaVishwa  Thanks for translating strings. I am reviewing your strings.  Will update here once it's reviewed.

[2017-08-29 15:06] KotechaVishwa commented on #2
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/dom.properties/?string=152039
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/device.properties/?string=77059
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/startup.properties/?string=155091
@rowdymehul My suggested string files. Please verify!

[2017-08-29 15:21] rowdymehul commented on #2
Hey @KotechaVishwa ,

Done: https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/startup.properties/?string=155091

Suggestions: Don't translate access keys i.e T, B ,A etc. any character.

Rest, I have corrected some your strings. Left files will be reviewed soon.

Amazing work. Keep it up 💯

[2017-08-29 15:25] rowdymehul commented on #2
Hey, all your 3 files are reviewed. :) Awesome job @KotechaVishwa

[2017-08-29 15:27] KotechaVishwa commented on #2
Thank you @rowdymehul😊

[2017-09-03 01:48] KotechaVishwa commented on #2
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/pluginproblem/pluginproblem.dtd/?string=166755
I have suggested this complete file. @rowdymehul please review.

[2017-09-03 05:04] KotechaVishwa commented on #2
https://pontoon.mozilla.org/gu-IN/firefox/browser/extensions/onboarding/onboarding.properties/?string=168652
completed suggesting this too. @rowdymehul please review.

[2017-09-09 15:22] Veerskyfire commented on #2
sharing my pontoon profile https://pontoon.mozilla.org/contributors/l38xtzueZu0LPbKPyzv7WR072qY/ translated many string and on the way to do more

[2017-09-09 23:23] rowdymehul opened #5 "[l10n-gu] Mozilla.org"
Hey Localizers,

Hope you all are doing good.

https://pontoon.mozilla.org/gu-IN/mozillaorg/

Happy to invite all new localizers in the community to start with this project.

Feel free to let us know if you need any help/questions.

P.S. Any suggestions or feedback's are always welcome. 💯

Thank you,
Mehul Patel.
**On Behalf of [Mozilla Gujarat](http://blog.mozillagujarat.org/).**

[2017-09-09 23:26] rowdymehul commented on #5
Hey @KotechaVishwa,

https://pontoon.mozilla.org/gu-IN/mozillaorg/firefox/features/send-tabs.lang/?string=171610
https://pontoon.mozilla.org/gu-IN/mozillaorg/firefox/features/sync.lang/?string=171624

These files assigning to you to complete the translation. Once done you can assign us to review.

Thanks. :)

[2017-09-09 23:32] rowdymehul commented on #2
Reviewed 4 files!

Current progress: 71%, way to go reach 100% 💯 Keep it up, guys!

[2017-09-10 00:04] rowdymehul opened #6 "Mozilla L10n[gu-IN] Role Upgraded - Moin"
Hello @moinshaikh,

Congratulations, we have upgraded your role from **Contributors** to **Translator** on Pontoon.

Now, you can submit translations and approve other people's suggestions. Recently many new contributors joined the team and all are doing a great job in translations so we have decided to include more people in Translator team and we found you as best for this responsibility.

Keep

[2017-09-10 03:43] KotechaVishwa commented on #5
Ok Mehul, I'll complete it as soon as possible.👍

[2017-09-10 03:50] KotechaVishwa opened #7 "L10n Guide"
According to me, we should have a guide or something like that so that the new contributors understand as in how to work on pontoon.

[2017-09-10 10:39] KotechaVishwa commented on #5
@rowdymehul I have completed the files you have attached above. I request either of the three @rowdymehul / @drashti4  / @moinshaikh  to review it please.

[2017-09-11 02:26] peiying2 commented on #7
@KotechaVishwa Is this what you are looking for? https://github.com/mozilla-l10n/localizer-documentation/tree/master/tools/pontoon

[2017-09-11 02:36] KotechaVishwa commented on #7
Oh, yes! Thank you @peiying2.

[2017-09-11 02:42] KotechaVishwa commented on #7
But then, can we include the things like how to get into file of each projects, instead of directly finding out the missing strings of the projects. Suggesting one file at a time would make it easier for the reviewers to review.

[2017-09-14 01:27] rowdymehul commented on #7
Hey @KotechaVishwa , as we discussed in last meeting we will be creating the docs for the same. Meantime, you can refer the documentation which @peiying2 has shared here.

Thanks, Keep contributing. :)

[2017-09-14 01:42] rowdymehul opened #8 "Mozilla L10n-gu-IN hackathon for Firefox Project"
Hi Team,

Hope you all are doing good.

As discussed in our last meeting, we have scheduled online Hackathon for Firefox Project. This hackathon  will be on **16th & 17th September.** The aim of this hackathon to do translation quality review, Style guide review, Work progress check and assignment.

Anyone can participate in this and ask us here if they need any help or have any questions.

Projec

[2017-09-17 01:21] rowdymehul commented on #8
Hey All,

I am assigning some files, once you completed do comment here:

@Vishwa :
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/inspector.properties/?string=76896
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/layout.properties/?string=166340
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/markers.properties/?string=90394
https://pontoon.mozilla.org/gu-IN/firefox

[2017-09-17 01:54] rowdymehul commented on #8
Guys,

15 files marked as 100%.  Just keep it up so will complete other files as well. :100:

[2017-09-17 13:09] 007Brij commented on #8
https://pontoon.mozilla.org/gu-IN/activity-stream-new-tab/all-resources/?status=missing&string=166618

[2017-09-18 12:36] Veerskyfire commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/animationinspector.properties/

[2017-09-18 12:44] Veerskyfire commented on #8
This all files are reviewed
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/jit-optimizations.properties/
https://pontoon.mozilla.org/gu-IN/firefox/browser/chrome/overrides/netError.dtd/
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/layout.properties/
https://pontoon.mozilla.org/gu-IN/activity-stream-new-tab/all-resources/
https://pontoon.mozilla.org/gu-IN/firefox/browser/chr

[2017-09-18 13:04] pratik0101 commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/markers.properties/

[2017-09-18 18:16] pratik0101 commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/memory.properties/

[2017-09-19 04:19] pratik0101 commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/responsiveUI.properties/

[2017-09-19 04:24] pratik0101 commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/performance.properties/

[2017-09-19 04:28] pratik0101 commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/mozapps/extensions/update.properties/

[2017-09-19 04:40] pratik0101 commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/storage.properties/

[2017-09-19 05:50] pratik0101 commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/netmonitor.properties/

[2017-09-19 06:09] pratik0101 commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/performance.dtd/

[2017-09-20 09:41] 007Brij commented on #8
https://pontoon.mozilla.org/gu-IN/mozillaorg/all-resources/?status=missing&string=171655

[2017-09-20 09:42] 007Brij commented on #8
https://pontoon.mozilla.org/gu-IN/mozillaorg/all-resources/?status=missing&string=171655

[2017-09-20 09:42] 007Brij commented on #8
https://pontoon.mozilla.org/gu-IN/mozillaorg/all-resources/?status=missing&string=171655

[2017-09-22 18:56] 007Brij commented on #8
https://pontoon.mozilla.org/gu-IN/firefox-for-android/all-resources/?status=missing&string=71216

[2017-09-23 06:23] rowdymehul commented on #8
@Veerskyfire @drashti4 can you please review this as I am away from my desk. :)

[2017-09-24 09:59] 007Brij commented on #8
https://pontoon.mozilla.org/gu-IN/mozillaorg/all-resources/?status=missing&string=172126

[2017-09-27 12:46] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/webide.dtd/?string=77708

[2017-09-27 17:09] 007Brij commented on #8
https://pontoon.mozilla.org/gu-IN/mozillaorg/all-resources/?status=missing&string=172265

[2017-09-27 22:08] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/webide.dtd/?string=77670

[2017-09-28 09:01] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/devtools/shared/gcli.properties/?string=81794

[2017-09-28 09:21] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/devtools/shim/key-shortcuts.properties/?string=169137

[2017-09-28 09:30] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/global/mozilla.dtd/?string=172092

[2017-09-29 05:51] 007Brij commented on #8
https://pontoon.mozilla.org/gu-IN/firefox-screenshots/all-resources/?status=missing&string=172284

[2017-09-30 20:00] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/webide.properties/?string=77066

[2017-09-30 20:08] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/devtools/shared/debugger.properties/?string=81782

[2017-10-03 04:36] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/devtools/shared/gclicommands.properties/?string=135684

[2017-10-06 17:19] 007Brij commented on #8
https://pontoon.mozilla.org/gu-IN/firefox-for-android/all-resources/?status=missing&string=172374

[2017-10-09 21:28] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/dom/chrome/accessibility/AccessFu.properties/?string=69297

[2017-10-09 21:31] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/browser/chrome/browser/aboutSessionRestore.dtd/?string=172046

[2017-10-09 21:34] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/browser/chrome/browser/browser.properties/?string=161592

[2017-10-09 21:36] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/browser/chrome/browser/preferences/preferences.properties/?string=171999

[2017-10-09 21:38] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/browser/chrome/browser/sanitize.dtd/?string=75011

[2017-10-09 21:50] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/debugger.properties/?string=76783

[2017-10-09 21:52] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/webconsole.properties/?string=161763

[2017-10-09 21:54] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/search/search.properties/?string=80161

[2017-10-09 21:59] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/mozapps/update/updates.dtd/?string=79882

[2017-10-10 09:19] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/mozapps/extensions/extensions.properties/?string=79221

[2017-10-10 09:28] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/devtools/shared/styleinspector.properties/?status=missing&string=90234

[2017-10-10 09:34] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/dom/chrome/accessibility/mac/accessible.properties/?status=missing&string=69547

[2017-10-10 09:47] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/global/fallbackMenubar.properties/?status=missing&string=80862

[2017-10-10 09:57] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/dom/chrome/appstrings.properties/?string=172036

[2017-10-10 18:57] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/global/narrate.properties/?status=missing&string=149679

[2017-10-10 19:00] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/animationinspector.properties/?status=missing&string=172406

[2017-10-10 19:02] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/inspector.properties/?string=154002

[2017-10-17 20:21] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/global/datetimebox.dtd/?string=165184

[2017-10-17 20:27] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/global/extensions.properties/?string=152066

[2017-10-17 20:28] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/global/contentAreaCommands.properties/?status=missing&string=161755

[2017-10-17 20:29] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/global/console.properties/?status=missing&string=81057

[2017-10-17 20:31] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/global/viewSource.properties/?status=missing&string=80858

[2017-10-17 20:35] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/mozapps/downloads/downloads.properties/?status=missing&string=161556

[2017-10-17 20:43] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/mozapps/extensions/extensions.dtd/?status=missing&string=79363

[2017-10-17 20:44] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/global/videocontrols.dtd/?status=missing&string=161670

[2017-10-17 20:46] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/global/textcontext.dtd/?status=missing&string=81563

[2017-10-17 20:47] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/global/resetProfile.properties/?status=missing&string=153091

[2017-10-17 20:48] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/global/printPreview.dtd/?status=missing&string=153021

[2017-10-17 21:02] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/global/regionNames.properties/?status=missing&string=135702

[2017-10-17 21:03] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/global/notification.dtd/?status=missing&string=161684

[2017-10-17 21:04] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/global/notification.dtd/?status=missing&string=161684

[2017-10-17 21:05] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/global/languageNames.properties/?status=missing&string=80478

[2017-10-17 21:06] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/global/findbar.properties/?status=missing&string=153870

[2017-10-17 21:07] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/global/findbar.dtd/?status=missing&string=81693

[2017-10-17 21:09] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/global/printdialog.properties/?status=missing&string=80934

[2017-10-17 21:09] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/global/filepicker.properties/?status=missing&string=80902

[2017-10-17 21:10] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/debugger.properties/?status=missing&string=172687

[2017-10-17 21:20] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/dom/chrome/layout/css.properties/?status=missing&string=69761

[2017-10-27 20:42] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/dom/chrome/layout/layout_errors.properties/?status=missing&string=149770

[2017-10-27 20:48] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/global/commonDialogs.properties/?status=missing&string=155057

[2017-10-27 20:50] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/browser/chrome/browser/sitePermissions.properties/?status=missing&string=173374

[2017-10-27 21:14] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/browser/extensions/formautofill/formautofill.properties/?string=173388

[2017-10-27 21:22] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/browser/chrome/browser/browser.properties/?status=missing&string=173402

[2017-10-27 21:25] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/browser/chrome/browser/preferences/preferences.properties/?status=missing&string=173444

[2017-10-27 21:27] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/debugger.properties/?status=missing&string=173410

[2017-10-27 21:29] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/devtools/shim/startup.properties/?status=missing&string=173464

[2017-10-30 18:54] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/alerts/alert.properties/?status=missing&string=135644

[2017-10-30 18:57] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/dom/chrome/layout/xbl.properties/?status=missing&string=155073

[2017-10-30 19:07] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/dom/chrome/netError.dtd/?status=missing&string=152063

[2017-10-30 19:10] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/dom/chrome/plugins.properties/?status=missing&string=69204

[2017-10-30 19:21] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/security/manager/chrome/pippki/pippki.properties/?status=missing&string=159906

[2017-10-30 19:22] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/security/manager/chrome/pippki/pippki.dtd/?status=missing&string=70432

[2017-10-31 09:54] 007Brij commented on #8
https://pontoon.mozilla.org/gu-IN/fundraising/all-resources/?status=missing&string=92374

[2017-10-31 18:59] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/dom/chrome/security/csp.properties/?status=missing&string=153930

[2017-10-31 19:10] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/netwerk/necko.properties/?status=missing&string=163853

[2017-11-01 19:02] 007Brij commented on #8
https://pontoon.mozilla.org/gu-IN/firefox-screenshots/all-resources/?status=missing&string=173681

[2017-11-03 19:07] 007Brij commented on #8
https://pontoon.mozilla.org/gu-IN/firefox-for-android/all-resources/?status=missing&string=173700

[2017-11-09 12:35] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/debugger.properties/?status=missing&string=173704

[2017-11-09 12:39] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/inspector.properties/?status=missing&string=173665

[2017-11-09 12:40] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/layout.properties/?status=missing&string=173670

[2017-11-09 19:40] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/security/manager/chrome/pipnss/nsserrors.properties/?status=missing&string=70936

[2017-11-09 19:42] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/global/aboutProfiles.dtd/?status=missing&string=148445

[2017-11-09 19:54] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/global/aboutNetworking.dtd/?status=missing&string=159774

[2017-11-10 07:34] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/mozillaorg/firefox/hub/home-quantum.lang/?status=missing&string=173047

[2017-11-10 19:33] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/mozillaorg/firefox/products/developer-quantum.lang/?status=missing&string=172962

[2017-11-10 19:38] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/mozillaorg/mozorg/home/index-quantum.lang/?status=missing&string=174025

[2017-11-10 20:32] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/mozillaorg/firefox/mobile.lang/?status=missing&string=173058

[2017-11-10 20:38] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/mozillaorg/firefox/new/quantum.lang/?status=missing&string=172709

[2017-11-10 20:42] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/mozillaorg/main.lang/?status=missing&string=174021

[2017-11-10 20:47] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/mozillaorg/firefox/nightly_firstrun.lang/?status=missing&string=8279

[2017-11-10 20:49] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/mozillaorg/firefox/whatsnew_57.lang/?status=missing&string=173636

[2017-11-10 21:24] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/animationinspector.properties/?status=missing&string=173669

[2017-11-15 20:17] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/activity-stream-new-tab/all-resources/?status=missing&string=174167

[2017-11-15 20:45] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/mozillians/LC_MESSAGES/django.po/?status=missing&string=167834

[2017-11-24 10:35] KotechaVishwa commented on #2
Hi,

https://pontoon.mozilla.org/gu-IN/mozillaorg/all-resources/?status=missing&string=174213
All the remaining strings of this are completed. I request the testers to do the needful.

[2017-11-25 06:56] mohmmadyahya010101 commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/all-resources/?status=missing&string=81263

[2017-11-25 08:43] 007Brij commented on #8
https://pontoon.mozilla.org/gu-IN/firefox-screenshots/all-resources/?status=missing&string=174180

[2017-11-25 08:55] 007Brij commented on #8
https://pontoon.mozilla.org/gu-IN/fundraising/all-resources/?status=missing&string=174182

[2017-11-27 20:04] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/mozillians/all-resources/?status=fuzzy&string=167836

[2017-12-09 15:07] bhattsameer commented on #8
https://pontoon.mozilla.org/gu-IN/sumo/LC_MESSAGES/djangojs.po/?string=149243

[2017-12-09 15:07] bhattsameer commented on #8
https://pontoon.mozilla.org/gu-IN/sumo/LC_MESSAGES/django.po/?string=58438

[2017-12-09 15:08] bhattsameer commented on #8
https://pontoon.mozilla.org/gu-IN/sumo/LC_MESSAGES/buddyup.po/?string=60511

[2017-12-12 10:34] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/mozillians/all-resources/?status=fuzzy&string=162292
https://pontoon.mozilla.org/gu-IN/mozillians/all-resources/?status=fuzzy&string=167832
https://pontoon.mozilla.org/gu-IN/mozillians/LC_MESSAGES/django.po/?status=missing&string=174455
https://pontoon.mozilla.org/gu-IN/firefox-screenshots/all-resources/?status=missing&string=174454

[2018-01-13 08:14] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/all-resources/?status=missing&string=174597

[2018-02-18 20:53] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/focus-for-android/app.po/?status=missing&string=169927

[2018-02-21 13:45] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/all-resources/?status=missing&string=176011

[2018-02-28 05:07] Hariompanchal commented on #8
https://pontoon.mozilla.org/gu-IN/firefox/all-resources/?status=missing&string=176165

[2018-03-04 13:08] #2 closed

[2018-03-04 13:08] #5 closed

[2018-03-04 13:08] #6 closed

[2018-03-04 13:08] #8 closed

[2018-03-04 13:09] rowdymehul commented on #7
Closing this one! Thanks. :)

[2018-03-04 13:09] #7 closed

[2018-08-25 15:00] rowdymehul opened #9 "Mozilla L10n[gu-IN] Team Role Upgraded - Pontoon"
Hello Team,

Congratulations 🎉, we have upgraded the role of following team members from Contributors to Translator on Pontoon.

1. Mitesh Pokar
2. Siddhi Dave
3. Hariom Panchal

Now, you can submit translations and approve other contributor's suggestions. Recently many new contributors joined the team and all are doing a great job in translations so we have decided to include more people in Trans

[2018-08-25 15:50] rowdymehul opened #10 "Mozilla L10n-gu-IN training Series Schedule -- August'18"
Hello Team,

This is the 3 weeks training series for the Gujarati team followed by the Pre Pune Localisation Meetup 2018 which will be happening on Sept. 1 and 2.

* Training schedule can be found [here](https://docs.google.com/document/d/1XqpQpCTwOaCPjOQ-MvUpH_iAqPnPhka78x9sB8ZYj3Y/edit)

Feel free to let us know if you have any questions.

P.S. This training schedule only for the contributors wh

[2018-08-27 06:29] rowdymehul commented on #10
Completed the Week 3 updated call.
Details can be found in the training schedule doc.

Thank you, everyone, for joining.

Feel free to let us know if you have any questions.

-- Mehul Patel

[2018-08-31 17:19] rowdymehul opened #11 "Gujarati Team 🎉 at Mozilla l10n Hindi Marathi & Gujarati Meetup 2018 🎉"
Hello everyone,

Glad to share that following team member from the Gujarati local will represent at Mozilla l10n Hindi Marathi & Gujarati Meetup. This meet-up will be held in Pune, India on 1st-2nd September 2018.

* [Event link](https://reps.mozilla.org/e/mozilla-l10n-hindi-marathi-gujarati-meetup-2018/)
* [ Meetup Agenda](https://wiki.mozilla.org/India/Mozilla_Hindi_Marathi_Gujarati_Community_Me

[2018-09-01 06:51] rowdymehul opened #12 "[l10n-gu] Firefox"
Hey Localizers,

Hope you all are doing good.

    Project: Firefox
    Deadline:  Oct 09, 2018

https://pontoon.mozilla.org/gu-IN/firefox/

We are almost near to complete this project, so let's do it!
We will be assigning the pending files to some active localizers, however happy to invite all new localizers in the community to start with this project.

Feel free to let us know if you need any he

[2018-09-01 07:03] rowdymehul commented on #12
Hello again,

We are assigning the files as follows;

1. Siddhi Dave;
https://pontoon.mozilla.org/gu-IN/firefox/browser/chrome/browser/aboutPrivateBrowsing.dtd/?string=75047
https://pontoon.mozilla.org/gu-IN/firefox/browser/browser/preferences/preferences.ftl/?string=174860
https://pontoon.mozilla.org/gu-IN/firefox/browser/browser/preferences/languages.ftl/?string=177939
https://pontoon.mozilla.or

[2018-09-01 10:27] rowdymehul opened #13 "[l10n-gu] Firefox for Android Testing"
Hey Everyone,

As we have successfully translated the 'Firefox for Android' project via Pontoon.
https://pontoon.mozilla.org/gu-IN/firefox-for-android/

Now, Let's start testing for 'Firefox for Android.
You can download the testing version of Nightly here: https://ftp.mozilla.org/pub/mobile/nightly/latest-mozilla-central-android-api-16-l10n/fennec-63.0a1.gu-IN.android-arm.apk

* Guidelines, [here

[2018-09-02 04:29] meetpokar commented on #12
Done translating and reviewing with following string.
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/application.ftl/?string=179374

[2018-09-02 04:31] meetpokar commented on #12
Done translating and reviewing with following string.
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/font-inspector.properties/?string=159689

[2018-09-02 04:31] rowdymehul opened #14 "[l10n-gu] Mozilla.org"
Hey Localizers,

Hope you all are doing good.

    Project: Mozilla.org
    Deadline:  Sep 09, 2018

https://pontoon.mozilla.org/gu-IN/mozillaorg

We will be assigning the pending files to some active localizers, however happy to invite all new localizers in the community to start with this project.

Feel free to let us know if you need any help/questions.

P.S. Any suggestions or feedback's are a

[2018-09-02 04:35] rowdymehul opened #15 "[l10n-gu] Focus for Android"
Hey Localizers,

Hope you all are doing good.

    Project: Focus for Android
    Deadline:  Sep 10, 2018

https://pontoon.mozilla.org/gu-IN/focus-for-android/

We will be assigning the pending files to some active localizers, however happy to invite all new localizers in the community to start with this project.

Feel free to let us know if you need any help/questions.

P.S. Any suggestions or fe

[2018-09-02 04:41] meetpokar commented on #12
Done with All the strings assign to me.

[2018-09-02 04:51] Hariompanchal commented on #12
Done translating and reviewing with following string.

https://pontoon.mozilla.org/gu-IN/firefox/browser/chrome/browser/browser.properties/?string=74429
https://pontoon.mozilla.org/gu-IN/firefox/browser/chrome/browser/tabbrowser.properties/?string=74407
https://pontoon.mozilla.org/gu-IN/firefox/browser/chrome/overrides/netError.dtd/?string=78866
https://pontoon.mozilla.org/gu-IN/firefox/browser/ex

[2018-09-02 04:52] rowdymehul commented on #12
Approved! :+1:  Great job @meetpokar :100:

[2018-09-02 04:52] rowdymehul commented on #12
@drashti4 Please review @Hariompanchal Files. :)

[2018-09-02 04:54] drashti4 commented on #12
Yes It's done :100:

[2018-09-02 06:06] Siddhi5 commented on #15
100% Done!

[2018-09-02 06:07] rowdymehul commented on #15
Great Job team. :100:

[2018-09-02 06:16] meetpokar commented on #12
Firefox Project translation and reviewing completed. 💯

[2018-09-02 06:35] rowdymehul commented on #14
About to complete 100%. Keep it up team. :+1:

[2018-09-03 17:52] meetpokar commented on #12
Firefox Project new strings are also translated. Pleases review.

[2018-09-03 18:44] meetpokar commented on #12
Mozilla.org project translation completed. Please review.

[2018-09-04 13:19] Siddhi5 commented on #14
100% done!

[2018-09-04 20:58] rowdymehul commented on #14
Great job team :+1:

[2018-09-05 00:48] peiying2 commented on #14
Well done team!! Make sure you have tested/review the pages and your work in context: https://github.com/mozilla-l10n/localizer-documentation/blob/master/products/mozilla_org/testing.md

[2018-09-10 21:17] rowdymehul commented on #14
That's the next plan @peiying2 :+1:

[2018-09-10 22:43] #10 closed

[2018-09-10 22:44] #9 closed

[2018-09-10 22:53] rowdymehul commented on #12
Hello again,

@Siddhi Dave, can you please review the following strings:

https://pontoon.mozilla.org/gu-IN/firefox/browser/browser/policies/policies-descriptions.ftl/?string=190056
https://pontoon.mozilla.org/gu-IN/firefox/browser/browser/aboutPolicies.ftl/?string=189631
https://pontoon.mozilla.org/gu-IN/firefox/browser/browser/preferences/preferences.ftl/?string=174860

Thank you and Keep up the

[2018-09-16 12:45] Siddhi5 commented on #12
It's done

[2018-09-16 13:47] rowdymehul commented on #12
Thanks, @Siddhi5

Assigning more files to you for review :

https://pontoon.mozilla.org/gu-IN/firefox/browser/chrome/browser/browser.properties/
https://pontoon.mozilla.org/gu-IN/firefox/browser/chrome/browser/sitePermissions.properties/
https://pontoon.mozilla.org/gu-IN/firefox/browser/pdfviewer/viewer.properties/

@meetpokar  Assigning some files to you for review:

https://pontoon.mozilla.org/g

[2018-09-17 08:48] Siddhi5 commented on #12
Done..:)

[2018-09-17 09:18] meetpokar commented on #12
Completed..👍

[2018-09-17 20:45] rowdymehul commented on #12
Hi @Hariompanchal Please make sure you update in a related thread. This thread is for "Firefox" project.

[2018-09-17 20:51] rowdymehul commented on #12
Great Job @meetpokar @Siddhi5 :100:

Assigning more files to both of you for review :

@Siddhi5 :
https://pontoon.mozilla.org/gu-IN/firefox/browser/pdfviewer/viewer.properties/?string=74136
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/webide.dtd/?string=77617

@meetpokar :
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/webide.properties/?string=77065

Thank you all. Keep up

[2018-09-17 20:59] rowdymehul commented on #15
Closing this one. Thank everyone. :100:

[2018-09-17 20:59] #15 closed

[2018-09-17 21:03] rowdymehul commented on #11
Closing this one. :+1:

[2018-09-17 21:03] #11 closed

[2018-09-18 14:36] rowdymehul commented on #12
Great job team :100:

[2018-09-20 00:20] ghost opened #16 "[l10n-gu] Firefox for desktop - Testing"
Hey everyone,

We've successfully translated [Firefox](https://github.com/mozguj/L10n-gu-IN/issues/16) and [Firefox for Android](https://github.com/mozguj/L10n-gu-IN/issues/13) :tada: We localized around 13,000 strings to make available this product in Gujarati. Not a small number :smile: Now it's time to test it.

You have to create a new profile for testing Firefox and follow the instruction whi

[2018-09-23 13:53] Siddhi5 commented on #12
completed..:)

[2018-10-13 07:25] herry121 opened #17 "Mozilla Pontoon Intro"
## Mozilla Pontoon Introduction

 - **Date:** 01/11/2018
 - **Location:** Harni-Virod Road, Vadodara, Virod, Gujarat - 390022
 - **Expected number of attendees:** 70

### List of talks:

Mozilla Introduction - Hariom Panchal (https://mozillians.org/en-US/u/Hariompanchal6079/) / Dhruv Pandit ()
Pontoon Introduction - Hariom Panchal (https://mozillians.org/en-US/u/Hariompanchal6079/)
Bugzilla Introd

[2018-10-14 06:08] rowdymehul commented on #17
Hi @herry121,

I have registered the event on Reps portal, here is the link to RSVP: https://reps.mozilla.org/e/introduction-to-mozilla-pontoon-by-l10n-gu-team/

Also, sending you some swags for the event, that includes some Firefox and Mozilla logo stickers.

All the best and let me know if you need any help.

Cheers,
Mehul Patel

[2018-10-14 06:20] rowdymehul opened #18 "Agenda - Mozilla l10n Gujarati Training Meetup 2018"
## Goal:
Agenda - Mozilla l10n Gujarati Training Meetup 2018

## Related Issues & Links:
https://wiki.mozilla.org/India/Mozilla_Hindi_Marathi_Gujarati_Community_Meet-up_2018 #

New source: https://github.com/mozguj/L10n-gu-IN/wiki

## Roles:

Responsible: @rowdymehul @drashti4

Accountable: @drashti4

Supporting: @rowdymehul

Consulted: @rowdymehul

Informed:

## Required:
- [x] Agnda draft (owner

[2018-10-14 06:28] rowdymehul opened #19 "Invitation Draft - Mozilla l10n-gu Training Meetup 2018"
## Goal:
Invitation Draft - Mozilla l10n-gu Training Meetup 2018

## Related Issues & Links:
Private

## Roles:

Responsible: @rowdymehul

Accountable: @rowdymehul

Supporting: @rowdymehul

Consulted: @rowdymehul

Informed:

## Required:
- [x] Registraion form is ready (owner, Due: Oct 14th)
- [x] Draft to be ready (owner, Due: Oct 15th)
- [x] Review the draft (owner, Due: Oct 15th)
- [x] Invitati

[2018-10-15 16:16] rowdymehul commented on #18
The schedule is drafted, link: https://github.com/mozguj/L10n-gu-IN/wiki/Mozilla-l10n-Gujarati-Training-Meetup-2018

Good work @meetpokar :+1:

[2018-10-15 16:18] rowdymehul commented on #19
Invitation Draft and reviewed, done! :100:

[2018-10-15 16:29] Hariom0311 commented on #18
Can we add small sesion on github ?

[2018-10-15 16:31] rowdymehul commented on #18
Sure @Hariom0311. Noted :+1:

[2018-10-16 04:31] rowdymehul commented on #19
Registration form is ready: https://goo.gl/forms/2FzOxYx8LIjpZpA52

[2018-10-16 04:32] rowdymehul commented on #18
Reviewed the agenda and updated: https://github.com/mozguj/L10n-gu-IN/wiki/Mozilla-l10n-Gujarati-Training-Meetup-2018

This is open for the feedback. :+1:

[2018-10-16 04:52] rowdymehul commented on #19
Invitation mail sent to participants! :100:

[2018-10-16 04:55] rowdymehul commented on #19
Invitation draft: https://goo.gl/FT2wUR

[2018-11-04 21:44] rowdymehul opened #20 "Warm up - Mozilla l10n Gujarati Training Meetup"
## Goal:
Agenda - Warm up - session for the team GU

## Related Issues & Links:
https://github.com/mozguj/L10n-gu-IN/wiki/Mozilla-l10n-Gujarati-Training-Meetup-2018

## Roles:

Responsible: @rowdymehul

Accountable: @rowdymehul @meetpokar

Supporting: @rowdymehul

Consulted: @rowdymehul

## Notes :

* Participants have to attend at least 2 warmup series

Informed:

## Required:
- [x] Create and sh

[2018-11-04 21:57] rowdymehul commented on #20
Hello Team,

Here is the doodle link: https://doodle.com/poll/ku2i3nex49bxf8x5

Kindly fill this up before Nov 10th so that we can decide the common date and time for the warm-up series.

Thank you and keep up the good work. :+1:

Feel free to comment or ping me if you have any questions.

Regards,
Mehul Patel

[2018-11-13 18:01] rowdymehul commented on #20
An announcement has been sent to all participants! :100:

[2018-11-19 00:41] rowdymehul commented on #20
Hello Team,

Hope you all are doing well.

As per the Doodle vote, we have scheduled the call for the following dates;

1st call: 17th November 2018 Saturday at 09.00 pm IST

2nd call: 24th November 2018 Saturday at 09.00 pm IST

Please mark this dates on your calendar and make sure you attend both calls.  This call will give you a heads up of what happening in the meetup and some basic things tha

[2018-11-19 00:49] rowdymehul commented on #20
Hello Team,

Thank you for joining the 1st call, I am sharing some useful links to take a look and that will you in more understand what will happen in next call.

Localizer-documentation : https://mozilla-l10n.github.io/localizer-documentation/
About tools: https://mozilla-l10n.github.io/localizer-documentation/tools/pontoon/

Attendees:

- [ ]  Mehul Patel
- [ ]  Mitesh Pokar
- [ ]  Preet  Shah

[2018-11-26 21:49] rowdymehul commented on #20
Hello Team,

Thank you for joining the 2nd call, I am sharing some useful links to take a look and that will you in more understand what will happen in next call.

Pontoon Quick Intro: https://pontoon.mozilla.org/in-context/
Localizer-documentation : https://mozilla-l10n.github.io/localizer-documentation/
About tools: https://mozilla-l10n.github.io/localizer-documentation/tools/pontoon/

Wiki Page

[2018-12-01 09:24] rowdymehul opened #21 "An Open session - Introduction to l10n"
## Goal:
Agenda - An Open session - Introduction to l10n

## Related Issues & Links:
https://github.com/mozguj/L10n-gu-IN/wiki/Mozilla-l10n-Gujarati-Training-Meetup-2018

## Roles:

Responsible: @rowdymehul

Accountable: @rowdymehul

Supporting: @rowdymehul

Consulted: @rowdymehul

## Notes :

* This is an open event so anyone can attend this session.
P.S. Registration is required.

* Link to regi

[2018-12-01 09:46] Siddhi5 commented on #13
Hello everyone,

We are doing testing of Firefox For Android in Mozilla Gujarati Training Meetup 2018 with Anvee Malviya, Kalpesh Malviya, Malav vyas , Devang Vechheta, Devarsh Ranpar.

You are doing awesome job guys.

Thank you,
Siddhi Dave

[2018-12-01 09:47] meetpokar commented on #16
Hello Everyone,

We have started testing for Firefox Desktop at Mozilla l10n Gujarati Training Meetup 2018.
Following People have joined us for testing.

**Participants:**
- Mitesh Pokar
- Hariom Panchal
- Mohammadyahya
- Preet Shah
- Haard Patel
#MozGuINl10n18 #MozGuINl10n

[2018-12-01 10:04] DevarshRanpara commented on #13
I have completed testing for firefix Android, and i have uploaded the screenshot and path of some language errors.

[2018-12-01 10:06] devang137 commented on #13
I have completed testing for Firefox Android, and found some bugs, i have uploaded the screenshot and path of some language errors.

[2018-12-01 10:08] MalavVyas commented on #13
Hi everyone,
I have completed testing of Firefox Nightly for Android and found some bugs, I have mentioned the bugs in screenshot and uploaded the same

[2018-12-01 10:09] techwar007k commented on #13
Hi everyone
I have completed testing of Firefox Nightly under the guidance of Siddhi Dave mam and as well as found some bugs plus i have uploaded the screenshot and path of some bugs.

[2018-12-01 10:13] Anvee-Malviya commented on #13
Hello Everyone,
Testing for Firefox Android is being completed, screenshots of the bugs with the comments of suggestion is being uploaded.

[2018-12-01 10:19] preetshah49 commented on #16
hello,
I have completed the work assigned and I have uploaded the screenshots with marked errors and with some considerable suggestions

preet shah.

[2018-12-01 11:37] Siddhi5 commented on #14
Hello,

We have finally got deadline for Mozilla.org. Let's get back to work:

We are assigning the files as follows:

Anvee Malviya:

https://pontoon.mozilla.org/gu-IN/mozillaorg/firefox/products/developer-quantum.lang/?status=missing&string=191495

https://pontoon.mozilla.org/gu-IN/mozillaorg/firefox/tracking-protection-tour.lang/?status=missing&string=191497

https://pontoon.mozilla.org/gu-IN/m

[2018-12-01 11:39] mohmmadyahya010101 commented on #16
hello
completed the work in 'Web Developer' & 'Add-ons', I have uploaded the screenshots with marked errors and with some considerable suggestions.

Mohammadyahya

[2018-12-01 11:39] meetpokar commented on #12
Hello Everyone,

We are assigning the files as follows for translation;
Haard Patel:-
https://pontoon.mozilla.org/gu-IN/firefox/browser/browser/newtab/onboarding.ftl/

Preet Shah:-
https://pontoon.mozilla.org/gu-IN/firefox/browser/browser/preferences/preferences.ftl/

Mohammadyahya:-
https://pontoon.mozilla.org/gu-IN/firefox/browser/chrome/browser/browser.properties/

Select missing string from th

[2018-12-01 11:45] MalavVyas commented on #14
Hi,
I have translated 9 Strings assigned to me.
Thank you.

[2018-12-01 11:55] haard40 commented on #12
As per work assign it is done, there is minor changes are done in assign file.
https://pontoon.mozilla.org/gu-IN/firefox/browser/browser/newtab/onboarding.ftl/?status=missing&string=193170

[2018-12-01 11:56] DevarshRanpara commented on #14
Hello,
I have completed task assigned to me.
Thank you.

[2018-12-01 11:56] preetshah49 commented on #12
work is done as per assigned
https://pontoon.mozilla.org/gu-IN/firefox/browser/browser/preferences/preferences.ftl/

[2018-12-01 11:57] devang137 commented on #14
Hello,
I have completed task assigned to me.
Thank You...!!!

[2018-12-01 12:03] meetpokar commented on #12
Great Job @haard40 and @preetshah49. We will review strings and update soon.
Keep it up.👍

[2018-12-01 12:07] Anvee-Malviya commented on #14
Hello,
Files assigned to me are being completed.  Please do review the files.
Thank You!

[2018-12-01 12:14] Siddhi5 commented on #14
Great Job team..:) +1

[2018-12-01 12:15] meetpokar commented on #12
Great Job mohmmadyahya010101. We will review strings and update soon.
Keep it up.👍
Assigning more files to you for translate :
mohmmadyahya010101:
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/layout.properties/
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/netmonitor.properties/
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/toolbox.properties/
https://pontoon.m

[2018-12-01 12:32] preetshah49 commented on #12
preet here, done with the strings
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/accessibility.properties/
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/changes.properties/
https://pontoon.mozilla.org/gu-IN/firefox/devtools/client/debugger.properties/

[2018-12-01 12:39] meetpokar commented on #12
Awesome @preetshah49.
Here are the last files from projects please translate it so we can go for review and testing
https://pontoon.mozilla.org/gu-IN/firefox/dom/chrome/netError.dtd/
https://pontoon.mozilla.org/gu-IN/firefox/dom/chrome/security/security.properties/
https://pontoon.mozilla.org/gu-IN/firefox/security/manager/chrome/pipnss/pipnss.properties/
https://pontoon.mozilla.org/gu-IN/firefox/

[2018-12-01 13:18] preetshah49 commented on #12
hey , completed the worked assigned
https://pontoon.mozilla.org/gu-IN/firefox/dom/chrome/netError.dtd/
https://pontoon.mozilla.org/gu-IN/firefox/dom/chrome/security/security.properties/
https://pontoon.mozilla.org/gu-IN/firefox/security/manager/chrome/pipnss/pipnss.properties/
https://pontoon.mozilla.org/gu-IN/firefox/toolkit/chrome/global/aboutTelemetry.dtd/
https://pontoon.mozilla.org/gu-IN/fire

[2018-12-02 04:36] Siddhi5 opened #22 "[ l10n-gu ] Firefox Screenshots"
Hey Localizers,

Hope you all are doing good.

Project: Firefox Screenshots

https://pontoon.mozilla.org/gu-IN/firefox-screenshots/

We will be assigning the pending files to some active localizers, however happy to invite all new localizers in the community to start with this project.

Feel free to let us know if you need any help/questions.

P.S. Any suggestions or feedback's are always welcome.

[2018-12-02 04:44] Siddhi5 commented on #22
Hello,

We have finally got deadline for Firefox screenshots.

We are assigning the files as follows:

Devang Vachheta:

https://pontoon.mozilla.org/gu-IN/firefox-screenshots/server.ftl/?status=unreviewed&string=191063

Devarsh Ranpara:

ttps://pontoon.mozilla.org/gu-IN/firefox-screenshots/webextension.properties/?status=missing&string=192212

Once you complete it please make a comment here for th

[2018-12-02 05:06] devang137 commented on #22
Hello,
I have completed task assigned to me.
Thank You...!!! (*.*)

[2018-12-02 05:15] DevarshRanpara commented on #22
Hi,
I have completed the work assigned to me.
Thank you.

[2018-12-02 05:16] rowdymehul opened #23 "[l10n-gu] Mozilla.org - Testing"
Hey everyone,

We've almost successfully translated [Mozilla.org](https://github.com/mozguj/L10n-gu-IN/issues/14) :tada: Cheers to the team who did a splendid job. :100:

You have to create a new profile for testing Firefox and follow the instruction which
mentioned in below link. You can check to truncate words, broken UI, font support etc. for testing in Android.
Keep tweeting and share your exp

[2018-12-02 05:16] Siddhi5 commented on #22
Great work..:)

I am assigning one more file.

https://pontoon.mozilla.org/gu-IN/firefox-screenshots/server.ftl/?status=missing&string=191063

Devarsh Ranpara- 1-6 strings

Devang Vachheta - 7-12 strings

Anvee Malviya - 13 - 19 strings

Once you complete it please make a comment here for the review, you may tag.

Thank you and Keep up the good work. +1

Thank you,
Siddhi Dave

[2018-12-02 05:35] devang137 commented on #22
Hello,
I have translated 7-12 Strings assigned to me.
Thank you...!!!

[2018-12-02 05:53] Anvee-Malviya commented on #22
Hello,
The string assigned to me are being translated. @Siddhi5  Please do review them.
Thank You!

[2018-12-02 08:42] Siddhi5 commented on #23
Hello everyone,

We are doing testing of Mozilla.org at Mozilla Gujarati l10n Training Meetup 2018.

We have assigned the testing task to the following participants:

   1. Anvee Malviya
   2. Kalpesh Malaviya
   3. Devang Vachheta
   4. Devarsh Ranpara

Once you have done with the assigned task, do upload the testing result or finding with screenshot at mentioned location as per the instruction g

[2018-12-02 09:08] rowdymehul commented on #21
An open session has been lead by @meetpokar :1st_place_medal:

https://twitter.com/rowdymehul/status/1069120106951778304

[2018-12-02 09:21] nomadicmehul opened #24 "[l10n-gu] Style Guide Gujarati (gu)"
Hello Team,

Thank you for your all continuous contribution.

We are working on to make Gujarati language style guide which helps the basic guidelines for translating Mozilla products. This guide should be used in coordination with a locale-specific style guide for your language.

* Mozilla general localization style guide info, [here](https://github.com/mozilla-l10n/styleguides/blob/master/docs/m

[2018-12-02 10:02] haard40 commented on #12
hey @meetpokar changes are done in testing of firefox desktop
https://drive.google.com/drive/folders/1Ypl6hm_ayJ2ZkftmIfpz4elxwJk0hVz7?ogsrc=32

[2018-12-02 10:52] DevarshRanpara commented on #23
Hi,
I have finished given task.
Thank you.

[2018-12-04 03:55] meetpokar commented on #21
Thank You @rowdymehul for giving me a chance to lead an Open session at Mozilla l10n Gujarati training meetup 2018. It was a great experience for me to take the session. +1

[2018-12-04 03:56] meetpokar commented on #12
Great Job Team. +1
Happy to announce that we have completed the Firefox project localization and testing of the product 100%.
Cheers to Team Mozgu-INL10n for awesome contribution in Firefox project and completing it before the deadline.

Thank You,
Mitesh Pokar

[2018-12-04 16:23] meetpokar commented on #12
Hello,
We have some new updated strings in Firefox project
Assigning the files as follows for translation;
@haard40 :-
https://pontoon.mozilla.org/gu-IN/firefox/browser/browser/preferences/preferences.ftl/

@preetshah49  :-
https://pontoon.mozilla.org/gu-IN/firefox/browser/chrome/browser/browser.dtd/

@mohmmadyahya010101 :-
https://pontoon.mozilla.org/gu-IN/firefox/browser/chrome/browser/tabbrowse

[2018-12-04 16:47] rowdymehul commented on #22
Well done team. :+1:

[2018-12-04 16:49] #17 closed

[2018-12-04 16:50] #18 closed

[2018-12-04 16:50] #19 closed

[2018-12-04 16:50] #20 closed

[2018-12-04 16:51] rowdymehul commented on #21
Anytime @meetpokar :100:

Keep up the good work :+1:

[2018-12-04 16:51] #21 closed

[2018-12-05 03:49] meetpokar commented on #12
Done translating strings as assigned. @Siddhi5 @Hariompanchal please review the strings.

Thank You,
Mitesh Pokar

[2018-12-06 17:48] haard40 commented on #12
hey @meetpokar done with translating as per assign work & please review the strings
https://pontoon.mozilla.org/gu-IN/firefox/browser/browser/preferences/preferences.ftl/?status=missing&string=193356

[2018-12-07 15:54] preetshah49 commented on #12
hello
i have done the work as per assigned please check and review

https://pontoon.mozilla.org/gu-IN/firefox/browser/chrome/browser/browser.dtd/

preet shah

[2018-12-10 03:01] meetpokar commented on #12
Good work @haard40 and @preetshah49
We will review strings and update asap.

Thank You,
Regards,
Mitesh Pokar

[2018-12-22 20:14] meetpokar opened #25 "[l10n-gu] Fundraising"
Hey Everyone,

Hope you all are doing good.

Project: Fundraising
Deadline:  Dec 26, 2018

https://pontoon.mozilla.org/gu-IN/fundraising/

We are almost near to complete this project, so let's do it!
We will be assigning the pending files to some active localizers, however happy to invite all new localizers in the community to start with this project.

Feel free to let us know if you need any help

[2018-12-24 09:09] haard40 commented on #25
Hey @meetpokar @siddhi5 @Hariompanchal faq.properties is completed

https://pontoon.mozilla.org/gu-IN/fundraising/faq.properties/?string=160453
https://pontoon.mozilla.org/gu-IN/fundraising/faq.properties/?string=171537
https://pontoon.mozilla.org/gu-IN/fundraising/faq.properties/?string=160422
https://pontoon.mozilla.org/gu-IN/fundraising/faq.properties/?string=172328
https://pontoon.mozilla.org/

[2018-12-25 20:03] meetpokar commented on #25
Hello everyone,
Good work team. We have completed 100% translation and review for this project.
Cheers. :+1:

Regards,
Mitesh Pokar

[2018-12-26 06:54] Siddhi5 commented on #25
Great Job Team..:)

[2019-01-09 09:49] meetpokar opened #26 "[l10n-gu] Firefox for iOs"
Hello Everyone,
Hope you all are doing good.

Project: Firefox for iOs
Deadline:  Jan 11, 2019
https://pontoon.mozilla.org/gu-IN/firefox-for-ios

We have lots of pending translation of strings for this project and the deadline for the project is near.
We need to complete this before the deadline. So let's do it.
We will be assigning the pending files to some active localizers, however, Other local

[2019-01-09 09:59] meetpokar commented on #26
Hello everyone,
We are assigning files as follows:
@preetshah49
https://pontoon.mozilla.org/gu-IN/firefox-for-ios/firefox-ios.xliff/

@Hariompanchal, @Siddhi5, @haard40, @meetpokar please join Preet to complete this project before the deadline.
once completed please update here for review.

Thank you all. +1

Regards,
Mitesh

[2019-01-09 10:00] meetpokar commented on #26
@Siddhi5 & @Hariompanchal Please help me to review the strings once transletion completed.

Thank You,
Mitesh

[2019-01-17 08:53] rowdymehul commented on #26
Will also Review in some time. :)

[2019-01-17 08:54] rowdymehul commented on #24
I am drafting this weekend.

[2019-08-06 19:30] rowdymehul opened #28 "What next? Mozilla L10n[gu-IN] Team Meeting"
Hello everyone,

Apologize for the radio silence from past couple of Months!

Let's use this [doodle poll](https://doodle.com/poll/htqtmfm2qqicntak) to mark our quick availability for holding a meeting to a brief discussion on the following points.

* Updates on **All Hands Whistler** Team Meeting
* Current status of **gu-IN** Team
* Future Goals ( Project Basis)
* What's the current status with T

[2019-08-10 15:15] rowdymehul commented on #28
Hello Everyone,

Gentler reminder, if you have not participated in the poll then do it asap so that we can schedule the call accordingly.

Let me know if you have any questions. I am excited to talk to you guys.

Regards,
Mehul Patel
On behalf of Mozilla Gujarat

[2019-08-14 16:54] rowdymehul commented on #28
Hello Team,

The most voted option so far is Friday, August 16, 2019, 9:00:00 pm - Friday, August 16, 2019, 10:00:00 pm.

Hence, we are scheduling the meeting on Friday, August 16, 2019, at 9:00 pm to 10:00 pm.

The link to join the meeting will be shared over email, group or here before 30 minutes.

Let me know if you have any questions.

Regards,
Mehul Patel
On behalf of Mozilla Gujarat

[2019-10-12 13:13] Panchalhariom07 commented on #26
https://pontoon.mozilla.org/translate/gu-IN/firefox-for-ios/all-resources/?status=missing&string=204060

@meetpokar @Siddhi5 Please Review this stings & approve asap
Thanks
Hariom Panchal

[2019-10-12 19:38] drashti4 commented on #26
@Panchalhariom07 I did that as you mentioned ASAP. @meetpokar @Siddhi5 feel free to review it again.

[2019-12-17 17:23] #28 closed

[2020-01-07 07:58] rowdymehul opened #29 "[l10n-gu] Test"
## Goal:
To complete the translation.

## Related Issues & Links:
https://pontoon.mozilla.org/gu-IN/android-l10n/all-resources/?tag=fenix

## Roles:

Responsible: @rowdymehul

Accountable: @rowdymehul

Supporting: @rowdymehul

Consulted: @rowdymehul

## Required:

Feel free to let us know if you need any help/questions.

P.S. Any suggestions or feedback are always welcome. 💯

Thank you,
Mehul Pate

[2020-01-10 07:10] Siddhi5 opened #30 "[l10n-gu] Android L10n"
Hello,

Happy New Year!!

Hope you all are doing good.

We have some pending projects in Gujarati gu-IN. So, in this 2020, let's work on those projects together and complete the assigned tasks.

Project name:  Android L10n Gujarati

https://pontoon.mozilla.org/gu-IN/android-l10n/

We will be assigning the pending files to some active localizers. However, happy to invite all new localizers in the c

[2020-01-10 07:17] Siddhi5 commented on #30
Hello again,

We are assigning the files as follows:

Mehul Patel:

https://pontoon.mozilla.org/gu-IN/android-l10n/mozilla-mobile/android-components/components/browser/engine-system/src/main/res/values/strings.xml/?string=196915

https://pontoon.mozilla.org/gu-IN/android-l10n/mozilla-mobile/android-components/components/browser/errorpages/src/main/res/values/strings.xml/?string=196863

Hariom Panc

[2020-01-10 07:20] #29 closed

[2020-01-13 12:39] Siddhi5 commented on #30
Hello,

I have completed files which are assigned to me. @rowdymehul @meetpokar @hariompanchal ,please review them.

Also, I am assigning new files to me.

https://pontoon.mozilla.org/gu-IN/android-l10n/mozilla-mobile/android-components/components/feature/prompts/src/main/res/values/strings.xml/?string=196822

https://pontoon.mozilla.org/gu-IN/android-l10n/mozilla-mobile/android-components/compone

[2020-01-13 21:58] mpokar commented on #30
Hello,

I have completed the files that are assigned to me. @rowdymehul
<https://github.com/rowdymehul> @siddhi5 <https://github.com/meetpokar>
@Hariompanchal <https://github.com/Hariompanchal> , please review them.

Regards,

Mitesh

On Mon, Jan 13, 2020 at 6:09 PM Siddhi5 <notifications@github.com> wrote:

[2020-01-13 22:03] mpokar commented on #30
Hello,

I have completed the files that are assigned to me. @Siddhi5 @rowdymehul @Hariompanchal please review them.

Regards,

Mitesh